{% extends "base.html" %}

{% block title %} PDM CRUD - Users {% endblock %}

{% block content %}
    <h1>Users</h1>
    <div class="card">
        <div class="card-header">
            <a name="" id="" class="btn btn-primary" href="{% url 'users_create' %}" role="button">Add user</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Users</h4>
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr class="user-row">
                            <td scope="row">{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name}} {{ user.last_name }}</td>
                            <td>{{ user.role }}</td>
                            <td>
                                <a name="action-button" id="edit-button" class="btn btn-info" href="{% url 'users_edit' %}" role="button">Edit</a>
                                <a name="action-button" id="delete-button" class="btn btn-warning" href="{% url 'users_delete' user.id %}" role="button">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    
{% endblock %}