{% extends "base.html" %}

{% block title %} PDM CRUD - Users {% endblock %}

{% block content %}
    <h1>Users</h1>
    <div class="card">
        <div class="card-header">
            <a name="" id="" class="btn btn-primary" href="#" role="button">Add user</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Users</h4>
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td scope="row">01</td>
                            <td>root</td>
                            <td>Edwin</td>
                            <td>Calderón</td>
                            <td>Edit | Delete</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    
{% endblock %}