{% extends "base.html" %}

{% block title %} PDM CRUD - Home {% endblock %}

{% block content %}
    <div class="row align-items-md-stretch">
        <div class="col-md-6 text-light">
            <div class="h-100 p-5 bg-primary border rounded-3">
                <h2><i class="bi bi-house-gear"></i> PDM CRUM</h2>
                <p>Simple CRUD application developed using Python, Django and MySQL.</p>
                <a class="my-2 btn btn-outline-light" href="/admin" target="_blank">
                    <i class="bi bi-person-circle"></i> Django Administrator
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-secondary border rounded-3 text-light">
                <h2>Current features:</h2>
                <ul class="list-group list-group-flush bg-secondary border rounded-3 p-1">
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        Django initial project structure, with internal CRUD application 
                        <span class="badge bg-secondary badge-pill">
                            <i class="bi bi-folder-check"></i>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        Database connection to MySQL 
                        <span class="badge bg-secondary badge-pill">
                            <i class="bi bi-database-fill-gear"></i>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        Django administrator access enabled
                        <span class="badge bg-secondary badge-pill">
                            <i class="bi bi-person-circle"></i>
                        </span>
                    </li>
                </ul>
                
                <a class="my-2 btn btn-outline-light" href="https://github.com/kn1ghted" target="_blank">
                    <i class="bi bi-github"></i> Visit my GitHub page
                </a>
            </div>
        </div>
    </div>
    
{% endblock %}